.slide-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.like{
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 35px;
}
.dislike{
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 35px;
}
.love {
    margin: auto;
    position: absolute;
    bottom: 0;
}

.close-slider {
    margin: auto;
    position: absolute;
    right: 10px;
    top: 70px;
    height: 35px;
}

.slider-container {
    position: relative;
}

.slider-container .element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}