@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.slide-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.like{
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 35px;
    padding: 15px;

    background-color: white;
    color: #002255;
    font-size: 55px;
    cursor: pointer;;
}
.dislike{
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 35px;
    padding: 15px;

    color: #800000;
    font-size: 55px;
    cursor: pointer;;

}
.love {
    position: absolute;
    bottom: 10px;

    cursor: pointer;
    height: 90px;
    margin-left: -81px;
}

.close-slider {
    margin: auto;
    position: absolute;
    right: 10px;
    top: 70px;
}

.slider-container {
    position: relative;
}

.slider-container .element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}