@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.slide-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.slider {
    z-index: 99;
}
.moto-text{
    font-size: 105px;
    font-weight: 600;
}
.like{
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 35px;
    padding: 15px;

    color: #078aff;
    font-size: 105px;
    cursor: pointer;;
}
.dislike{
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 35px;
    padding: 15px;

    color: #f1433d;
    font-size: 105px;
    cursor: pointer;;

}
.love {
    position: absolute;
    font-size: 105px;
    margin-left: -45px;
    cursor: pointer;
    color: #4cae4c;
}

.close-slider {
    color: white;
    font-size: 75px;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 70px;
    cursor: pointer;
}

.slider-container {
    position: relative;
}

.slider-container .element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}